body {
  font-family: "Poppins";
}
.css-ny69v2 {
  margin: 0px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.334em;
  font-family: Roboto, sans-serif;
  color: inherit;
}

.css-zxtyt4-MuiPaper-root-MuiAppBar-root {
  background-color: transparent !important;
  box-shadow: none !important;
}

.inputRounded .MuiOutlinedInput-root {
  border-radius: 50px;
}
.css-d9ml5t-MuiDrawer-docked .MuiDrawer-paper {
  box-sizing: border-box;
  width: 240px;
  border: none !important;
}
.css-1q6at85-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 15px !important;
}
